.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 120px;
  width: 20px;
  box-shadow: none;
}

.image-gallery-thumbnail.active {
  border: solid 5px #4e60ff;
}

.image-gallery-thumbnail {
  border-radius: 16px;
}

.image-gallery-thumbnail-image,
.image-gallery-thumbnail-inner {
  border-radius: 10px;
}

.image-gallery-thumbnail-image {
  width: 78px; /* or whatever value you want */
  height: 78px; /* or whatever value you want */
  object-fit: cover; /* to make sure the image fills the square 1 */
}
.image-gallery {
  padding: 15px 0;
  min-height: 300px;
}
.image-gallery-slide,
.image-gallery-image {
  border-radius: 16px;
}

.css-selector1 {
  background: linear-gradient(91deg, #c7deff, #697bff);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 2s ease infinite;
  -moz-animation: AnimationName 2s ease infinite;
  animation: AnimationName 2s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.css-selector {
  background: linear-gradient(54deg, #c77dff, #fc5c7c, #fde781);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 17s ease infinite;
  -moz-animation: AnimationName 17s ease infinite;
  animation: AnimationName 17s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 63% 0%;
  }
  50% {
    background-position: 38% 100%;
  }
  100% {
    background-position: 63% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 63% 0%;
  }
  50% {
    background-position: 38% 100%;
  }
  100% {
    background-position: 63% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 63% 0%;
  }
  50% {
    background-position: 38% 100%;
  }
  100% {
    background-position: 63% 0%;
  }
}
