* {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}

.css-1u2cvaz {
  width: 100% !important;
}

.header-links-organize {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4px;
}

.wrapper {
  overflow: hidden;
}

.map-container {
  width: 100%;
}

.blogpostimage1 {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 7%,
    rgba(0, 0, 0, 0.08) 12%,
    rgba(0, 0, 0, 0.16) 17%,
    rgba(0, 0, 0, 0.22) 21%,
    rgba(0, 0, 0, 0.32) 26%,
    rgba(0, 0, 0, 0.42) 32%,
    rgba(0, 0, 0, 0.52) 38%,
    rgba(0, 0, 0, 0.62) 47%,
    rgba(0, 0, 0, 0.72) 57%,
    rgba(0, 0, 0, 0.82) 65%
  );
}

.editor-class .public-DraftEditor-content {
  line-height: 0.5; /* Set your desired line-height here */
}

.t-gra {
  background: linear-gradient(351deg, #31b3ec 23%, #524add 87%, #524add 102%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* prevent zoom */
html {
  touch-action: manipulation; /* Optional: Improves scrolling performance on mobile devices */
  touch-zooming: none; /* Disables pinch-to-zoom */
  -ms-touch-action: manipulation; /* For Internet Explorer 10 and 11 */
  -ms-touch-zoom: none; /* For Internet Explorer 10 and 11 */
}

/* For iOS Safari */
@supports (-webkit-touch-callout: none) {
  html {
    touch-callout: none; /* Disables the callout (menu) when tapping and holding a touch target */
    -webkit-text-size-adjust: 100%; /* Prevents font scaling when user zooms in */
  }
}

/* animations */
.vibrate-1 {
  -webkit-animation: vibrate-1 0.8s ease-in-out infinite both;
  animation: vibrate-1 3s ease-in-out infinite both;
}
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
